<br />
<h1>All User Requests</h1>
<div>
    <ejs-grid id="Grid1" height="273" allowPaging="true">
        <e-data-manager url="/operator/getrequests" adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-editSettings mode="Normal"></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="requestid" visible="false" headerText="requestid" isPrimaryKey="true" isIdentity="true" width="120" type="string"></e-grid-column>
            <e-grid-column field="username" headerText="UserName" width="120" type="string"></e-grid-column>
            <e-grid-column field="apartmentdetails" headerText="apartmentdetails" width="120" type="string"></e-grid-column>
            <e-grid-column field="problem" headerText="problem" width="120" type="string"></e-grid-column>
            <e-grid-column field="requesttype1" headerText="requesttype1" width="120" type="string"></e-grid-column>
            <e-grid-column field="requesttype2" headerText="requesttype2" width="120" type="string"></e-grid-column>
            <e-grid-column field="requeststatus" headerText="requeststatus" width="120" type="string"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
<br />
<br />
