@{
    var DropDownList = new Syncfusion.EJ2.DropDowns.DropDownList() { DataSource = new List<string>(new string[] { "Technician", "Operator" }), Query = "new ej.data.Query()", AllowFiltering = true, Enabled = true, Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings() { Value = "rolename", Text = "Role Name" }};
}
<br />
<h1>Operators and Technicians</h1>
<div>
    <ejs-grid id="Grid" allowSorting="true" allowFiltering="true" height="273" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" allowPaging="true">
        <e-data-manager url="/admin/userapi/getusers" insertUrl="/admin/userapi/insertuser" updateUrl="/admin/userapi/updateuser" removeUrl="/admin/userapi/deleteuser" adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="id" headerText="UserId" visible="false" isPrimaryKey="true" isIdentity="true" width="120" type="string"></e-grid-column>
            <e-grid-column field="username" headerText="UserName" width="120" type="string"></e-grid-column>
            <e-grid-column field="name" headerText="Name" width="120" type="string"></e-grid-column>
            <e-grid-column field="surname" headerText="Surname" width="120" type="string"></e-grid-column>
            <e-grid-column field="email" headerText="E-mail" width="120" type="string"></e-grid-column>
            <e-grid-column field="rolename" headerText="RoleName" width="120" type="string" editType='dropdownedit' edit=" new {@params = DropDownList }"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<br />
<br />
