@model RequestViewModel
<!--geri bildirim almak için de kullnabiliriz.-->
<!-- =========================
     Banner layout 1
    =========================== -->
@using CSG.Models.Entities.Enums
@using Microsoft.Extensions.Configuration
<section class="banner-layout1 pt-90 pb-90 bg-overlay bg-overlay-primary">
    <div class="bg-img"><img src="~/user-assets/images/banners/3.jpg" alt="background"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="col-inner">
                    <div class="heading-layout2 heading-light mb-40">
                        <h3 class="heading__title mb-30">Timely service delivery & incident resolutions!!</h3>
                        <p class="heading__desc">
                            Provide users with appropriate view and access permissions to requests,
                            problems,
                            changes, contracts, assets, solutions, and reports with our experienced professionals.
                        </p>
                        <p class="heading__desc">
                            As one of the world's largest ITService Providers, our deep pool of certified
                            engineers and IT staff are ready to help.
                        </p>
                    </div><!-- /.heading -->

                    <div id="map"></div>
                </div><!-- /.client-story -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="contact-panel">
                    <form asp-action="Index" class="contact-panel__form" method="post">
                        <input asp-for="LocationX" type="hidden" id="loc-x" value="" />
                        <input asp-for="LocationY" type="hidden" id="loc-y" value="" />
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <h4 class="contact-panel__title">Request A Quote</h4>
                            </div> <!-- /.col-lg-12 -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label asp-for="RequestType1">Request Type 1 (required)</label>
                                    <select class="form-control" asp-for="RequestType1"
                                            asp-items="Html.GetEnumSelectList<RequestType1>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                    <span asp-validation-for="RequestType1" class="text-danger" />
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label asp-for="RequestType2">Request Type 2 (required)</label>
                                    <select class="form-control" asp-for="RequestType2"
                                            asp-items="Html.GetEnumSelectList<RequestType2>()">
                                        <option selected="selected" value="">Please select</option>
                                    </select>
                                    <span asp-validation-for="RequestType2" class="text-danger" />
                                </div>
                            </div><!-- /.col-lg-6 -->
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label asp-for="ApartmentDetails">Apartment Details (required)</label>
                                    <textarea asp-for="ApartmentDetails"
                                              class="form-control" placeholder="Enter your apartment details"></textarea>
                                    <span asp-validation-for="ApartmentDetails" class="text-danger" />

                                </div>
                                <div class="form-group">
                                    <label asp-for="Problem">What is your problem dude? (required)</label>
                                    <textarea asp-for="Problem" class="form-control"
                                              placeholder="Enter your problem"></textarea>
                                    <span asp-validation-for="Problem" class="text-danger" />
                                </div>

                                <div class="custom-control custom-checkbox d-flex align-items-center mb-20">
                                    <input type="checkbox" class="custom-control-input" id="terms">
                                    <label class="custom-control-label" for="terms">I accept the privacy and terms.</label>
                                </div>
                                <button type="submit" class="btn btn__secondary btn__xl btn__block">Submit Request </button>
                                <div class="contact-result"></div>
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row -->
                    </form>
                </div>
            </div>
        </div><!-- /.col-xl-6 -->
    </div><!-- /.row -->

</section><!-- /.Banner layout 1 -->
}
@section Scripts{
    @inject IConfiguration Configuration
    @{
        string api_key = Configuration.GetSection("GoogleMapApiKey")["Key"];
        string link = "https://maps.googleapis.com/maps/api/js?key=" + api_key + "&callback=initMap&libraries=&v=weekly";
    <script src=@link
            async>

    </script>
    }
}

