<br />
<h1>Products And Prices</h1>
<div>
    <ejs-grid id="Grid" height="273" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" allowPaging="true">
        <e-data-manager url="/admin/productapi/getproducts" insertUrl="/admin/productapi/insertproduct" removeUrl="/admin/productapi/deleteproduct" updateUrl="/admin/productapi/updateproduct" adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="id" visible="false" headerText="Id" isPrimaryKey="true" isIdentity="true" width="120"></e-grid-column>
            <e-grid-column field="productname" headerText="ProductName" width="120"></e-grid-column>
            <e-grid-column field="productprice" headerText="ProductPrice" width="120"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>